extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/posts.css')
    .post-list
        each post in posts
            .post(onclick='viewPostDetail("' + post._id + '")')
                h4 #{post.title}
                .post-split
                    img(src=post.image)
                    .post-text
                        p
                            b #{post.summary}
                        p
                            b Author:
                            |  #{post.author}
                        p
                            b Date:
                            |  #{post.date}

                        form(action="/save-post", method="POST")
                            input(type="hidden", value=post._id, name="postId")
                            if isLoggedIn
                                button.btn(type="submit") Save
            hr

    script
        include ../../public/javascripts/postDetail.js
