extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/posts.css')
    .post-list
        each article in posts
            .post
                h4 #{article.title}
                .post-split
                    img(src=article.image)
                    .post-text
                        p
                            b #{article.summary}
                        p
                            b Author:
                            |  #{article.author}
                        p
                            b Date:
                            |  #{article.date}

                        if isLoggedIn
                            button.btn Save
            hr
