extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/posts.css')

    .post-detail
        .post-detail_header-top
                img(src=post.image)
                h1 #{post.title}

        .post-detail_header-bottom
            p.author By: #{post.author}
            p #{post.date}

        hr

        .post-detail_article
            p #{post.article}

        form(action="/save-post", method="POST")
            input(type="hidden", value=post._id, name="postId")
            if isLoggedIn
                button.btn(type="submit") Save